<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>apps</mat-icon>
      </button>
      <span>Project Management</span>
      <span class="example-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/treetable'"> View Project Details </a>
        <a mat-button [routerLink]="'/addemployee'"> Create Employees </a>
        <a mat-button [routerLink]="'/updatedetails'"> Update Employees </a>
      </div>
    </mat-toolbar-row>
    </mat-toolbar>
  </p>
